#imagennav{
    height: 10px;
    width: 100px;
}
.footermap1{
    display: flex;
    height: auto;
    width: auto;
    background-color: #333;
}
.fo1 h2{
    color: white;
}
.fo1{
    justify-content: center;
    align-items: center;
    margin: 200px;
}