<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/inicioestilos.css">
    <link rel="icon" href="img/VD2021.png" type="image/x-icon">
    <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/cssreserva.css">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script>
      $(function(){
         $("#txtfecha").datepicker()({
           dateFormat:"yy-mm-dd"
         });
      });
    </script>
    <title>Reservar cita</title>
</head>
<body>
  <header class="header">
    <div class="container logo-nav-container">
        <a href="#" class="logo"><img src="img/VD2021.png" alt="" width="80px" height="80px"></a>
        <nav class="navigation">
            <ul class="show">
              <li><a href="Inicio.html">Inicio</a></li>
              <li><a href="ReservarcitasA.html">Reservar Citas</a></li>
              <li><a href="consultas.html">Consultas</a></li>
              <li><a href="registroclientes.html">Registrarse</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="content" id="app">
  <div class="contact-wrapper animated bounceInUp">
      <div class="contact-form">
          <h3 style="color: white;">Reservar una cita</h3>
          <form action="">
              <p>
                  <label>Ingrese su Nombre</label>
                  <input v-model="persona.nombre" type="text" name="nombre">
              </p>
              <p>
                  <label>Ingrese su Correo</label>
                  <input v-model="persona.correo" type="email" name="correo">
              </p>
              <p>
                  <label>Ingrese su Telefono</label>
                  <input v-model="persona.telefono" type="tel" name="telefono">
              </p>
              <p>
                  <label>Servicio</label>
                  <select v-model="persona.edad" name="edad">
                     <option></option> <option>Limpieza dental</option>
                  </select>
              </p>
              <p>
                  <label>Hora de consulta</label>
                  <input v-model="persona.direccion" type="text" name="direccion">
              </p>
              <p>
                  <label>Fecha de consulta</label>
                  <input v-model="persona.contrasena" type="" name="contrasena" id="txtfecha" readonly>
              </p>
              <!--<p class="block">
                 <label>Message</label> 
                  <textarea name="message" rows="3"></textarea>
              </p>-->
              <p class="block">
                  <button type="button" @click="enviarFor" value="Registrar"> Reservar cita </button>
              </p>
          </form>
      </div>
      <div class="contact-info">
          <h4 style="color: white;">Viva Dent</h4>
          <ul>
              <li><i class="fas fa-clock"></i >  9:00 - 20:00</li>
              <li><i  class="fas fa-phone"></i >  871 185 1679</li>
              <li><i  class="fas fa-envelope-open-text"></i style="color: white;">  doctora@dentalvera.com</li>
          </ul>
          <p style="color: white;">Gracias por visitarnos</p>
          <p style="color: white;">www.vivadent.com</p><br><br>
          </div>
  </div>
</div>
      
    <footer class="mapa">
      <div class="fo1">
        <span></span>
        <h2>¿Dondé encontrarnos?</h2>
      </div>
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2545.340944078073!2d-103.44252800093672!3d25.54984371228647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x868fdbd031016ed5%3A0x3256ca4b576f3581!2sFrancisco%20I.%20Madero%20895%2C%20Segundo%20de%20Cobi%C3%A1n%20Centro%2C%2027000%20Torre%C3%B3n%2C%20Coah.!5e0!3m2!1ses!2smx!4v1628017128619!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </footer>
    <footer class="footer">
      <div class="foo1">
          <h2>Contactos</h2>
          <p>(871) 1851679</p>
          <p>(871) 4709784</p>
      </div>
      <div class="foo2">
          <h2>Pagina de facebook</h2>
          <p><a>https://www.facebook.com/dra.vanessaveraluis</a></p>
      </div>
      <div class="foo3">
          <h2>Solo Para Empleados</h2>
          <button type="button" class="btn btn-outline-light"><a href="login.html">Iniciar Sesión</a></button>
          <button type="button" class="btn btn-outline-light"><a href="RegistroEM.html">Registrarse</a></button>
      </div>
  </footer>

</body>
</html>